logging:
    level:
        jdbc:
            connection: info
            resultsettable: info
            sqlonly: info
            sqltiming: info
        root: error

mybatis:
    mapper-locations: classpath:mappers/**/*.xml

server:
    port: 8080
    servlet:
        context-path: /onepie

spring:
    application:
        name: community-site-back-team1
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: Abcd1234!
        url: jdbc:mysql://15.165.24.202/zeropie
        username: team1

    data:
        redis:
            host: localhost
            port: 6379

    jpa:
        database: mysql
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate:
                format_sql: true
                show_sql: true

    security:
        oauth2:
            client:
                registration:
                    kakao:
                        client-name: kakao
                        authorization-grant-type: authorization_code

                        # 카카오 > 내 애플리케이션 > 카카오 로그인 > 등록한 Redirect URI 입력

                        #redirect-uri: http://localhost:3000/auth
                        redirect-uri: http://15.165.24.202/auth

                        # 카카오 > 내 애플리케이션 > 요약정보 > REST API 키 입력
                        client-id: 3227ae68356a2d41ac3d1a0a451d3676

                        # 카카오 > 내 애플리케이션 > 카카오 로그인 > 보안 > Client Secret 생성 후 입력
                        client-secret: LypzViPdKrOEqoDneoYdF3j84fw9WAlK

                        client-authentication-method: client_secret_post
                        scope: profile_nickname, profile_image, account_email
                provider:
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        user-name-attribute: id
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me


    session:
        store-type: redis

    mail:
        host: smtp.gmail.com
        port: 587
        username: oharam0413@gmail.com
        password: xwov wdxm kafb vhun
        properties:
            mail:
                smtp:
                    auth: true
                    timeout: 5000
                    starttls:
                        enable: true

    servlet:
        multipart:
            location: uploads/
            max-file-size: 10MB

jwt:
    issuer: hyeji111544@gmail.com
    secret: 4XudNUpSmog3lwI9thJFejF7YfBBQnCI

file:
    upload:
        path: uploads/

front:
    #url: 'http://localhost:3000'        # 개발용
    url: 'http://15.165.24.202' # 배포용


