logging:
    level:
        jdbc:
            connection: info
            resultsettable: info
            sqlonly: info
            sqltiming: info
        root: info

mybatis:
    mapper-locations: classpath:mappers/**/*.xml

server:
    port: 8080
    servlet:
        context-path: /onepie

spring:
    application:
        name: community-site-back-team1
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: Abcd1234!
        url: jdbc:mysql://15.165.24.202/zeropie
        username: team1

    data:
        redis:
            host: localhost
            port: 6379

    jpa:
        database: mysql
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate:
                format_sql: true
                show_sql: true

    session:
        store-type: redis

    mail:
        host: smtp.gmail.com
        port: 587
        username: kdehgogo104@gmail.com
        password: tovh lfoa vshl lmdd
        properties:
            mail:
                smtp:
                    auth: true
                    timeout: 5000
                    starttls:
                        enable: true

    servlet:
        multipart:
            location: uploads/
            max-file-size: 10MB

jwt:
    issuer: hyeji111544@gmail.com
    secret: 4XudNUpSmog3lwI9thJFejF7YfBBQnCI

file:
    upload:
        path: uploads/

front:
    url: 'http://localhost:3000'  # 개발용
    #url: 'http://15.165.24.202'  # 배포용
